@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1210px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

.logo {
  width: 79px;
  height: 75px;
  display: block;
  position: relative;
}

.logo__box {
  width: 67px;
  height: 67px;
  position: absolute;
}

.logo__box_1 {
  text-align: center;
  line-height: 67px;
  top: 0;
  left: 0;
  background: #11749e;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.logo__box_2 {
  z-index: 1;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.749);
}

body._lock {
  overflow: hidden;
}

input:focus::-webkit-input-placeholder {
  font-size: 0;
}

input:focus::-moz-placeholder {
  font-size: 0;
}

input:focus:-ms-input-placeholder {
  font-size: 0;
}

input:focus::-ms-input-placeholder {
  font-size: 0;
}

input:focus::placeholder {
  font-size: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gotham";
  font-size: 14px;
}

body {
  font-family: "Gotham";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::placeholder {
  opacity: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  height: 116px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.header__burger._active {
  background: rgba(255, 255, 255, 0.3);
}

.header__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger._active:before {
  top: 24px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger._active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 24px;
}

.header__burger:before,
.header__burger:after,
.header__burger span {
  content: '';
  width: 34px;
  background: #fff;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  left: 8px;
}

.header__burger:before {
  top: 15px;
}

.header__burger:after {
  bottom: 15px;
}

.header__burger span {
  top: 50%;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.header__socials {
  -webkit-transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.menu-header {
  padding: 0 8px 0 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

.menu-header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-header__area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 20px;
}

.menu-header__item {
  height: 100%;
}

.menu-header__item a {
  padding: 0 26px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.socials-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 161px;
          flex: 0 1 161px;
  height: 100%;
}

.socials-header__item {
  padding: 10px;
}

.socials-header__item svg {
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  fill: #F5F5F5;
  height: 18px;
}

.main {
  position: relative;
  padding: 390px 0 110px 0;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 120px 0;
}

.main__title {
  font-size: 153px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F5F5F5;
  margin: 0 0 15px 0;
}

.main__subtitle {
  padding: 0 0 0 50px;
  font-weight: 500;
  font-size: 25px;
  color: #11749e;
  text-transform: uppercase;
  letter-spacing: 45px;
}

.main__btn {
  cursor: pointer;
}

.main__btn span {
  margin: 0 0 22px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  position: relative;
}

.main__btn span:before {
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  content: '';
  width: calc(100% + 8px);
  position: absolute;
  bottom: -1px;
  left: -4px;
  background: rgba(255, 255, 255, 0.15);
  height: 0;
}

.main__btn p {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.main__btn p svg {
  fill: #fff;
  width: 17px;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.about {
  padding: 170px 0 80px 0;
  background: #11749E;
  overflow: hidden;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__caption {
  font-weight: 500;
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 150px 0;
}

.about__caption:before {
  content: 'W';
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 247px;
  color: rgba(255, 255, 255, 0.18);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 25px;
  margin: 0 0 50px 0;
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about-card__icon {
  border-radius: 50%;
  width: 133px;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2e85aa;
  margin: 0 0 15px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.about-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
}

.about-card__title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  margin: 0 0 17px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about-card__subtitle {
  font-size: 15px;
  line-height: calc(24/15);
  color: #fff;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item:nth-child(odd) {
  background: #222;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news__item:nth-child(odd) .news__label,
.news__item:nth-child(odd) .news__caption,
.news__item:nth-child(odd) .news__mein p {
  color: #fff;
}

.news__item:nth-child(odd) .news__content {
  padding: 20px calc(20px + (120 - 20) * ((100vw - 320px) / (1920 - 320))) 20px calc(80px + (215 - 80) * ((100vw - 1210px) / (1920 - 1210)));
}

.news__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #f3f3f3;
}

.news__item:nth-child(even) .news__label,
.news__item:nth-child(even) .news__caption,
.news__item:nth-child(even) .news__mein p {
  color: #222;
}

.news__item:nth-child(even) .news__content {
  padding: 20px calc(20px + (250 - 20) * ((100vw - 320px) / (1920 - 320))) 20px 80px;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__line {
  display: inline-block;
  margin: 0 5px;
}

.news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 30px 0;
}

.news__label {
  font-size: 13px;
  line-height: calc(24/13);
}

.news__caption {
  font-weight: 500;
  font-size: 25px;
  line-height: calc(36/25);
  position: relative;
}

.news__caption:before {
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -o-transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  content: '';
  width: calc(100% + 8px);
  position: absolute;
  top: 4px;
  left: -4px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 0;
  height: 0;
}

.news__mein p {
  display: inline-block;
  font-size: 15px;
  line-height: calc(24/15);
  margin: 0 0 25px 0;
}

.news__mein p:last-child {
  margin: 0 0 0 0;
}

.news__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.news__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog {
  padding: 150px 0 0 0;
  overflow: hidden;
}

.blog__container_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__container_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__caption {
  font-size: 38px;
  color: #222;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 100px 0;
}

.blog__caption:before {
  content: 'B';
  font-size: 247px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgba(34, 34, 34, 0.18);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog__subtitle {
  font-size: 30px;
  line-height: calc(37/30);
  color: #222;
  margin: 0 0 70px 0;
  text-align: center;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.blog__content_1 {
  padding: 0 0 80px 0;
}

.blog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
  margin: 0 0 30px 0;
}

.blog__sign {
  background: #11749e;
  padding: 115px 0 120px 0;
}

.blog-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.blog-info__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin: 0 35px 0 0;
}

.blog-info__icon img {
  width: 100%;
}

.blog-info__text {
  font-size: 15px;
  line-height: calc(24/15);
  color: #fff;
}

.post__picture {
  width: 100%;
  margin: 0 0 40px 0;
}

.post__picture img {
  width: 100%;
}

.post__caption {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
  margin: 0 0 15px 0;
  text-align: center;
}

.post__subtitle {
  font-size: 15px;
  line-height: calc(24/15);
  color: #222;
  text-align: center;
}

.app {
  position: relative;
  padding: 100px 0;
}

.app__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__content {
  max-width: 500px;
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
}

.app__text-container {
  margin: 0 0 60px 0;
}

.app__caption {
  font-weight: 500;
  font-size: 25px;
  line-height: calc(36/25);
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.app__text {
  font-size: 15px;
  line-height: calc(24/15);
  color: #fff;
}

.app__label {
  padding: 15px 20px;
  background: #11749e;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.app__label:last-child {
  margin: 0 0 0 0;
}

.app__label_1 {
  width: 370px;
}

.app__label_2 {
  width: 400px;
}

.app__label_3 {
  width: 430px;
}

.app__picture img {
  -webkit-transform: translate(5px, 0);
      -ms-transform: translate(5px, 0);
          transform: translate(5px, 0);
  width: 100%;
}

.team {
  padding: 140px 0 0 0;
  overflow: hidden;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__caption {
  font-size: 38px;
  font-weight: 500;
  color: #222;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 140px 0;
}

.team__caption:before {
  content: 'T';
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgba(34, 34, 34, 0.18);
  font-size: 247px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team__subtitle {
  text-align: center;
  font-size: 30px;
  line-height: calc(37/30);
  color: #222;
  margin: 0 0 70px 0;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
  margin: 0 0 100px 0;
}

.member {
  position: relative;
}

.member__picture {
  width: 100%;
}

.member__picture img {
  width: 100%;
  min-width: 270px;
}

.member__overlay {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 88.4058%;
  width: 80%;
  padding: 20px;
  background: #fff;
}

.member__name {
  font-size: 20px;
  line-height: calc(24/20);
  font-weight: 500;
  color: #11749E;
  text-transform: uppercase;
  text-align: center;
}

.member__specialty {
  font-weight: 500;
  font-size: 15px;
  line-height: calc(24/15);
  color: #000;
  text-align: center;
}

.contact {
  position: relative;
  padding: 220px 0 100px 0;
  overflow: hidden;
}

.contact__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__caption {
  color: #fff;
  font-size: 37px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0 0 150px 0;
}

.contact__caption:before {
  content: 'C';
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 247px;
  color: rgba(255, 255, 255, 0.18);
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact__content {
  width: 100%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px 50px;
}

.contact input,
.contact textarea {
  font-size: 15px;
  border: 1px solid #fff;
  background: transparent;
  width: 100%;
  height: inherit;
  color: #fff;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: #fff;
}

.contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
  color: #fff;
}

.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  color: #fff;
}

.contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder {
  color: #fff;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #fff;
}

.contact__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  padding: 0 15px;
  margin: 0 0 40px;
  height: 50px;
}

.contact__input input {
  padding: 0 20px;
}

.contact__textarea {
  padding: 0 15px;
  width: 100%;
  height: 150px;
}

.contact__textarea textarea {
  padding: 20px;
}

.contact__button button {
  width: 100%;
  padding: 20px 65px;
  background: #11749e;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  border: 2px solid transparent;
}

.map img {
  width: 100%;
}

.footer {
  background: #222;
  padding: 50px 0;
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #fff;
}

@media (min-width: 769px) {
  .header__burger {
    display: none;
  }

  .menu-header__area {
    display: none;
  }
}

@media (min-width: 992px) {
  .menu-header__item a:hover {
    border-bottom: 6px solid #11749E;
  }

  .socials-header__item:hover svg {
    fill: #11749E;
  }

  .main__btn:hover p {
    background: #2b303b;
  }

  .main__btn:hover svg {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }

  .main__btn:hover span:before {
    height: 50%;
  }

  .news__label:hover {
    text-decoration: underline;
  }

  .news__caption:hover:before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    height: 50%;
  }

  .contact input:hover,
  .contact textarea:hover {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }

  .contact__button button:hover {
    background: transparent;
    border: 2px solid #fff;
  }

  .footer__copyright:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1211px) {
  .main {
    min-height: 100vh;
  }
}

@media (max-width: 1210px) {
  .menu-header__item a {
    font-size: calc(14px + (20 - 14) * ((100vw - 768px) / (1210 - 768)));
    padding: 0 calc(10px + (26 - 10) * ((100vw - 768px) / (1210 - 768)));
  }

  .main {
    padding: calc(165px + (390 - 165) * ((100vw - 320px) / (1210 - 320))) 0 calc(50px + (110 - 50) * ((100vw - 320px) / (1210 - 320)));
  }

  .main__text {
    margin-bottom: calc(50px + (120 - 50) * ((100vw - 320px) / (1210 - 320)));
  }

  .main__title {
    font-size: calc(55px + (153 - 55) * ((100vw - 320px) / (1210 - 320)));
    margin-bottom: calc(5px + (15 - 5) * ((100vw -320px) / (1210 - 320)));
  }

  .main__subtitle {
    letter-spacing: calc(10px + (45 - 10) * ((100vw - 320px) / (1210 - 320)));
    font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1210 - 320)));
    padding: 0 0 0 10px;
  }

  .about {
    padding: calc(100px + (170 - 100) * ((100vw - 320px) / (1210 - 320))) 0 calc(0px + (80 - 0) * ((100vw - 320px) / (1210 - 320))) 0;
  }

  .news__item:nth-child(odd) .news__content {
    padding: 20px calc(20px + (120 -20) * ((100vw - 320px) / (1920 - 320))) 20px calc(20px + (80 - 20) * ((100vw - 768px) / (1210 - 768)));
  }

  .news__item:nth-child(even) .news__content {
    padding: 20px calc(20px + (250 - 20) * ((100vw - 320px) / (1920 - 320))) 20px calc(20px + (80 - 20) * ((100vw - 768px) / (1210 - 768)));
  }

  .blog__subtitle {
    font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1210 - 320)));
  }

  .blog__sign {
    padding: calc(50px + (115 - 50) * ((100vw - 320px) / (1210 - 320))) 0 calc(20px + (120 - 20) * ((100vw - 320px) / (1210 - 320))) 0;
  }

  .blog-info__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(40px + (70 - 40) * ((100vw - 320px) / (1210 - 320)));
            flex: 0 0 calc(40px + (70 - 40) * ((100vw - 320px) / (1210 - 320)));
    margin: 0 calc(10px + (35 - 10) * ((100vw - 320px) / (1210 - 320))) 0 0;
  }

  .blog-info__text {
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1210 - 320)));
  }

  .post__subtitle {
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1210 - 320)));
  }

  .app {
    padding: calc(35px + (100 - 35) * ((100vw - 320px) / (1210 - 320))) 0;
  }

  .team__caption {
    margin: 0 0 calc(80px + (140 - 80) * ((100vw - 320px) / (1210 - 320))) 0;
  }

  .contact {
    padding: calc(100px + (220 - 100) * ((100vw - 320px) / (1210 - 320))) 0 calc(50px + (100 - 50) * ((100vw - 320px) / (1210 - 320))) 0;
  }

  .contact__caption {
    margin: 0 0 calc(100px + (150 - 100) * ((100vw - 320px) / (1210 - 320))) 0;
  }
}

@media (max-width: 950px) {
  .app__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .app__content {
    margin: 0 0 50px 0;
  }

  .app__caption {
    text-align: center;
  }

  .app__text {
    text-align: center;
  }

  .app__labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .app__label_1 {
    width: 100%;
  }

  .app__label_2 {
    width: 100%;
  }

  .app__label_3 {
    width: 100%;
  }
}

@media (max-width: 825px) {
  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .blog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: 1190px;
    padding: 0px 10px;
  }

  .logo {
    width: 65px;
    height: 61.70886px;
  }

  .logo__box {
    width: 55.12658px;
    height: 55.12658px;
  }

  .logo__box_1 {
    line-height: 55.12658px;
    font-size: 24.68354px;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .header__socials {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .menu-header {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    padding: 121px 10px 0;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2b303b;
  }

  .menu-header:before {
    content: '';
    width: 100%;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
    height: 116px;
    position: absolute;
    background: #2b303b;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  .menu-header._active {
    opacity: 1;
    visibility: visible;
  }

  .menu-header._active:before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s all linear 0.3;
    -o-transition: 0.3s all linear 0.3;
    transition: 0.3s all linear 0.3;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .menu-header__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
  }

  .menu-header__item {
    height: auto;
  }

  .menu-header__item a {
    height: auto;
    padding: 15px 0 14px;
    font-size: 14px;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .about__caption {
    font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (768 - 320)));
    text-align: center;
  }

  .about-card__icon {
    width: calc(90px + (133 - 90) * ((100vw - 320px) / (768 - 320)));
    height: calc(90px + (133 - 90) * ((100vw - 320px) / (768 - 320)));
    margin: 0 0 calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))) 0;
  }

  .about-card__title {
    margin: 0 0 calc(0px + (17 - 0) * ((100vw - 320px) / (768 - 320))) 0;
  }

  .about-card__subtitle {
    font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (768 - 320)));
  }

  .news__item:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news__item:nth-child(odd) .news__content {
    padding: calc(15px + (50 - 15) * ((100vw - 320px) / (768 - 320)));
  }

  .news__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news__item:nth-child(even) .news__content {
    padding: calc(15px + (50 - 15) * ((100vw - 320px) / (768 - 320)));
  }

  .blog-info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .contact__caption {
    font-size: calc(23px + (37 - 23) * ((100vw - 320px) / (768 - 320)));
  }

  .contact__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 600px) {
  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 425px) {
  .header__socials {
    position: static;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .blog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .contact__button {
    width: 100%;
  }
}